.upload{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vh;
  margin: auto;
  border-radius: 50px;
}

.upload .input-upload{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.upload form{
  padding: 20px;
}

@media (max-width: 1000px) {
  .upload{
    margin: auto;
    width: 50vh;
  }
  .upload .input-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-upload input{
    width: 100%;
  }
}