.pagination {
  display: inline-flex;
}

.page-item {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.page-link {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #22a4f1;
}

.page-item.active .page-link {
  color: #f1c40f;
  text-decoration: underline;
  border: 5px solid #22a4f1;
}
