.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #111d4a;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 20px;
  color: white;
}

.button:hover,
.button:active{
    background-color: #ff4382;
    border-color: #ff4382;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled{
    background-color: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
}