  .header-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 172, 18, 1);
    padding: 5px 15px;
    border-radius: 30px;
    
  }
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
    color: #111d4a;
  }
  
  .badge {
    background-color: #111d4a;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .badge:hover{
    text-decoration: none;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  